/* Estilos generales */
h1 {
    color: #4CAF50;
  }
  
  h3 {
    color: #2196F3;
  }
  
  img {
    margin: 10px;
    border-radius: 8px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #007B9A;
  }
  